.main {
  position: fixed;
  display: flex;
  height: 69vh;
  border: 1px solid red;
  margin-top: 1.29vh;
}

@media screen and (min-width: 1194px) {
  .main {
    width: 86.2%;
    top: 158px;
  }

  .main__list {
    align-items: flex-start;
    margin-right: 79px;
  }

  .main__list__title {
    font-size: 1.75rem;
  }

  .main__list__button a > span {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 1194px) and (min-width: 428px) {
  .main {
    width: 92%;
    top: 145px;
  }

  .main__list {
    align-items: flex-start;
    margin-right: 40px;
  }

  .main__list__title {
    /*font-size: 1.468rem;*/
    font-size: 125%;
  }

  .main__list__button a > span {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 428px) {
  .main {
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: 65px;
  }

  .main__list {
    align-items: center;
  }

  .main__list__title {
    font-size: 2.2rem;
  }

  .main__list__button a > span {
    width: 75px;
    height: 75px;
  }
}

.main__list {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.main__list__title {
  font-weight: 700;
  margin-bottom: 17px;
}

@media screen and (min-width: 428px) {
  .main__list__button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
  }

  .main__list__button::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 428px) {
  .main__list__button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow-x: scroll;
  }

  .main__list__button::-webkit-scrollbar {
    display: none;
  }
}

.main__list__button a > span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8vh;
  border-radius: 50px;
  border: 2px solid #ffffff;
  background-size: cover;
  opacity: 0.5;
  transition: opacity 250ms;
  cursor: pointer;
}

.main__list__button a > span:hover {
  opacity: 1;
}

.playlist01 {
  background-image: url('../../images/playlist-button/Recommended\ \(1\).webp');
}
.playlist02 {
  background-image: url('../../images/playlist-button/beat\ \(2\).webp');
}
.playlist03 {
  background-image: url('../../images/playlist-button/vocal\ \(2\).webp');
}
.playlist04 {
  background-image: url('../../images/playlist-button/effects\ \(2\).webp');
}

.playlist01.active,
.playlist02.active,
.playlist03.active,
.playlist04.active {
  opacity: 1;
}

.main__music {
  overflow-x: scroll;
  overflow-y: scroll;
}
